<fieldset>
	<legend>
		Change Password
	</legend>
	<form action="/do_change_password" method="post">
		<p>
			<label for="Old Password"> Old Password: </label>
			<input name="old_pass" id="old_pass" value="" type="password" />
		</p>
		<p>
			<label for="password1"> New Password: </label>
			<input name="new_pass1" id="new_pass1" value="" type="password" />
		</p>
		<p>
			<label for="password2"> Confirm New Password: </label>
			<input name="new_pass2" id="new_pass2" value="" type="password" />
		</p>
		<p>
			<input name="send" style="margin-left: 150px;" class="formbutton" value="Change Password" type="submit" />
		</p>
	</form>
</fieldset>