<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="/media/style/styles.css" type="text/css" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
		<script type="text/javascript">
						$(document).ready(function() {
			  $('#register-div').hide();
			$('#login-show').hide();

			  $('#register-show').click(function() {
			$('#login-div').hide();
			$('#register-show').hide();

			    $('#register-div').show('fast');
			$('#login-show').show('fast');
			    return false;
			  });

			$('#login-show').click(function() {
			$('#register-div').hide();
			$('#login-show').hide();
			    $('#login-div').show('fast');
			$('#register-show').show('fast');
			    return false;
			  });

			});</script>
		<script type="text/javascript">
			function confirmSubmit() {
				var conf = confirm("Are you sure you wish to add stats?");
				if(confirm)
					conf true;
				else
					return false;
			}
		</script>
		<title>Team7 Fantasy Football</title>
		<link rel="shortcut icon" href="media/favicon.png" type="image/x-icon">
	</head>
	<body>
		<div id="container">
			{% include "fragments/banner.html" %}
			{% include "fragments/navbar.html" %} <div id="body">
