<div id="nav">
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/myteam">My Team</a>
    </li>
    <li>
      <a href="/pending_trades">Pending Trades</a>
    </li>
    <li>
      <a href="/trade">Make Trade</a>
    </li>
    <li>
      <a href="/players">Players</a>
    </li>
    <li>
      <a href="/scoreboard">Scoreboard</a>
    </li>
    <li class="float_right">
      <a href="/logout">Logout</a>
    </li>
    <li class="float_right">
      <a href="/change_password">Change Password</a>
    </li>
  </ul>
</div>